<h1>Header</h1>

<% @users.each do |user| %>
    <p>
      <a href=<%= user_path user.id %>><%= user.id %></a>.

      <%= render user %>

      <%= button_to :delete, user_path(user.id), method: :delete %>

    </p>
<% end %>
