<h1 style="color: red">NEW</h1>

<%= form_for @user do |f| %>
    <p><%= render 'form', f: f %></p>

    <%= f.fields_for :products do |pf| %>
        <%= render 'products/form', f: pf %>
    <% end %>
<% end %>
