<h1>Users#show</h1>

<%= render @user %>

<% @user.products.each do |product| %>
    <p><%= render product %></p>
<% end %>

<%= render 'redirect_to_all_users' %>
<%= render 'products/redirect_to_all_products' %>
