// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user {
  font-weight: bold;
}

.owner {
  color: gray;
  opacity: 0.6;
}


.username {
  font-weight: bold;
  color: darkcyan  }


.email {

}


.age {
  font-weight: bold;
}


.city {
  font-style: italic;
}