<h1 style="color: red">NEW</h1>

<%= select_tag :products, options_for_select(@products, @products.first) %>
<%= select_tag :users, options_for_select(@users, @users.first) %>

<%= button_to :deal, products_path %>
